@font-face {
    font-family: Artofsecret;
    src: url("Artofsecret-mixedorganized.otf") format("opentype");
}
@font-face {font-family: Helvetica
src: url("HelveNeuBolOut");
}
@font-face {font-family: Favorit
src: url("Favorit_Regular.otf");
}

@font-face {font-family: Favorit2
src: url("Favorit-Regular_Lining.otf");
}



body {
    height: 100%;
    background-color: black ;

}

.collapsible {
  background-color: lime;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 25%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 40px;
  float: left;
    font-family: "Favorit"

}


.active, .collapsible:hover {
  background-color: black;

}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
   float: right;
}

.content {
  padding: 3px;
  max-height: 0;
  color: magenta;
  width: 20%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  border: 5px solid lime;
   position: absolute;
    left: 0%   ;
    top: 55px;
  font-size: 20px;
  font-weight: ;
  font-family: "Favorit"

  }

.content2 {
  padding: 3px;
  max-height: 0;
  color: magenta;
  width: 20%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  border: 5px solid lime;
   position: absolute;
    left: 25%   ;
    top: 55px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit"
}

.content3 {
 padding: 3px;
  max-height: 0;
  color: magenta;
  width: 20%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  border: 5px solid lime;
   position: absolute;
    left: 50%   ;
    top: 55px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit"
}

.content4 {
 padding: 10px;
  max-height: 0;
  color: magenta;
  width: 20%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  border: 5px solid lime;
   position: absolute;
    left: 75%   ;
    top: 55px;
  font-size: 20px;
  font-weight: ;
  font-family: "Helvetica"


  
}
.controllers {
  padding: 3px;
  max-height: 0;
  color: magenta;
  width: 20%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  border: 5px solid lime;
   position: absolute;
    left: 75%   ;
    top: 55px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit";
    z-index: 8;

  
}

.coolio {
    font-family: "Artofsecret";
    color: lime;
    background-color: ; 
    display: inline;
    position: relative;
    word-wrap: break-word;
    z-index: 7;
}

.redCoolioText {
    color: red;
}

.blueCoolioText {
    color: blue;
}

.greenCoolioText {
    color: lime;
}

.helveticaCoolio{
    font-family: "Helvetica";
}

.imageCoolio {
    height: 20px;
    width: 20px;
    border: 0px solid black;
    margin: 1px;
}

.linkclass {
     font-family: "Favorit";
    font-size: 50px;
    color: magenta;
    background-color: ; 
    display: inline;
    padding: 15px;
    position: relative;
    z-index: 5;

}

.buttonclass {
    width: 100%;
    height: 60px;
    color: white;
    text-align: left;
    background-color: lime;
    font-family: "Helvetica";
      font-weight: bold;
    font-size: 20px;
    position: left: 400px;
    position: relative;
    z-index: 8;
}


 .cities {
    font-family: "Helvetica";
    color: lime;
    display: inline;
    font-size: 100px;
    position: relative;
    word-wrap: break-word;
}

