@font-face {
    font-family: Artofsecret;
    src: url("Artofsecret-mixedorganized.otf") format("opentype");
}
@font-face {font-family: Helvetica
src: url("HelveNeuBolOut");
}
@font-face {font-family: Favorit
src: url("Favorit_Regular.otf");

}


@font-face {font-family: Cooperblack
src: url("CoopeBla");
}

body {
    height: 100%;
    background-color: #BF3EFF ;



}

.collapsible {
padding-left: 20px;
padding-top:5px; 
padding-right:5px;
padding-bottom:5px ;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 20%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 40px;
  float: left;
    font-family: "Favorit";
    transform: rotate(00deg);
 

}


.active, .collapsible:hover {
  background-color: black;


}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
 

}

.active:after {
  content: "\2212";
   float: right;


}

.content {
padding-left: 20px;
  padding-right: 20px;

  max-height: 0;
  color: magenta;
  width: 16%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;

   position: absolute;
    left: 0%   ;
    top: 60px;
  font-size: 20px;
  font-weight: ;
  font-family: "Favorit";


  }

.content2 {
 
  padding-left: 20px;
  padding-right: 20px;
  max-height: 0;
  color: magenta;
  width: 16%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;

   position: absolute;
    left: 20%   ;
   top: 60px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit";
 z-index: 0;
}

.content3 {

  padding-left: 20px;
  padding-right: 20px;
  max-height: 0;
  color: magenta;
  width: 16%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
  
   position: absolute;
    left: 40%   ;
   top: 60px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit"

  
}
.controllers {

  padding-left: 20px;
  padding-right: 20px;
  max-height: 0;
  color: magenta;
  width: 16%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: white;
   position: absolute;
    left: 60%   ;
   top: 60px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit";

  
}



.coolio {
    font-family: "Artofsecret";
    color: #FFFF00;
    background-color: ; 
    display: inline;
    position: relative;
    word-wrap: break-word;
    z-index: 7; 
}

.redCoolioText {
    color: red;
}

.blueCoolioText {
    color: blue;
}

.greenCoolioText {
    color: lime;
}

.helveticaCoolio{
    font-family: "Helvetica";
    font-weight: medium;
}

.cooperCoolio{
    font-family: "Cooperblack";
    font-weight: bold;
}

.imageCoolio {
    height: 90px;
    width: 90px;
    border: 0px solid black;
    margin: 1px;
}

.linkclass {
     font-family: "Favorit";
    font-size: 20px;
    color: magenta;
    background-color: ; 
    display: inline;
    padding: 0px;
    position: relative;
    z-index: 5;

}

.buttonclass {
    width: 100%;
    height: 60px;
    color: white;
    text-align: left;
    background-color: black;
    font-family: "Favorit";
      
    font-size: 20px;
    position: left: 400px;
    position: relative;
    z-index: 8;
}



.textfield {

  padding-left: 20px;
  padding-right: 20px;
  max-height: 0;
  color: magenta;
  width: 55%;
  overflow: hidden;
  transition: max-height 0s ease-out;
  background-color: ;
   position: absolute;
    left: 20%   ;
   top: 100px;
  font-size: 20px;
  font-weight: ;
 font-family: "Favorit";


  
}

.buttonclasssecond {
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
    background-color: black;
    font-family: "Favorit";
      
    font-size: 20px;
    position: left: 400px;
    position: relative;
    z-index: 1;
}


 .cities {
    font-family: "Helvetica";
    color: lime;
    display: inline;
    font-size: 100px;
    position: relative;
    word-wrap: break-word;
}

