@font-face {
    font-family: Artofsecret;
    src: url("Artofsecret-mixed.otf") format("opentype");
}

.coolio {
    font-family: "Artofsecret";
    font-size: 40px;
    color: blue;
    background-color: skyblue; 
    display: inline;
    position: relative;
        word-wrap: break-word;
}

.imageCoolio {
    height: 200px;
    width: 200px;
    border: 0px solid black;
    margin: 1px;
}